.active-stage {
    background-color: #fdc891 !important;
    border-radius: 1rem;
}

.background-to-top {
    background: linear-gradient(to top, rgba(226,232,240,255), rgba(71, 85, 105, 0));
}

.background-to-bottom {
    background: linear-gradient(to bottom, rgba(226,232,240,255), rgba(71, 85, 105, 0));
}

::-webkit-scrollbar {
    width: 0px;
}