.active-stage {
    background-color: #fdc891 !important;
    border-radius: 1rem;
}

.background-to-top {
    position: relative;
    z-index: 1;

    /* Create a fading effect using a pseudo-element */
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to top, rgba(226,232,240,255), rgba(71, 85, 105, 0));
        z-index: -1; /* Keep it behind the content and dots */
    }
}

.background-to-bottom {
    position: relative;
    z-index: 1;

    /* Create a fading effect using a pseudo-element */
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to bottom, rgba(226,232,240,255), rgba(71, 85, 105, 0));
        z-index: -1; /* Keep it behind the content and dots */
    }
}

::-webkit-scrollbar {
    width: 0px;
}